<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Bdtask">
    <title>Blog Table</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/admin/dist/img/favicon.png">
    <!--Global Styles(used by all pages)-->
    <link href="/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/admin/plugins/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/admin/plugins/typicons/src/typicons.min.css" rel="stylesheet">
    <link href="/admin/plugins/themify-icons/themify-icons.min.css" rel="stylesheet">
    <!--Third party Styles(used by this page)-->
    <link href="/admin/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!--Start Your Custom Style Now-->
    <link href="/admin/dist/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Page loader -->
    <%- include("includes/loader.ejs")%>

    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include("includes/sidebar.ejs", {page: "teacherTable"}) %>

        <div class="content-wrapper">
            <div class="main-content">
                <!-- Header -->
                <%- include("includes/header.ejs")%>
                <div class="content-header row align-items-center m-0">
                    <nav aria-label="breadcrumb" class="col-sm-4 order-sm-last mb-3 mb-sm-0 p-0 ">
                        <ol class="breadcrumb d-inline-flex font-weight-600 fs-13 bg-white mb-0 float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                            <li class="breadcrumb-item"><a href="/admin">Teacher</a></li>
                            <li class="breadcrumb-item active">Table</li>
                        </ol>
                    </nav>
                    <div class="col-sm-8 header-title p-0">
                        <div class="media">
                            <div class="header-icon text-success mr-3"><i class="typcn typcn-puzzle-outline"></i></div>
                            <div class="media-body">
                                <h1 class="font-weight-bold">Teacher Table</h1>
                                <small>In this page, you can delete teachers</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="body-content">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h6 class="fs-17 font-weight-600 mb-0">Teachers table</h6>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                   <div class="table-responsive">
                    <table class="table display text-center table-bordered table-striped basic">
                        <thead>
                            
                            <tr>
                                <th>Number</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Delete</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <% let i = 0 %>
                            <% for(teacher of teachers){%>
                            <tr>
                                <td><%= ++i %></td>
                                <td><%= teacher.teacher_first_name %></td>
                                <td><%= teacher.teacher_last_name %></td>
                                <td>
                                    <a href="/admin/teacher/<%= teacher.teacher_id %>" class="btn btn-danger">
                                        <span class="fas fa-trash-alt" ></span>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>      
                    
                   </div>
                </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    </div>

    </div>
    <!--Footer-->
    <?php require_once 'page-section/footer.php'?>

    <div class="overlay"></div>
    </div>

    </div>

    <!--Global script(used by all pages)-->
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/admin/plugins/jQuery/jquery-3.4.1.min.js"></script>
    <script src="/admin/dist/js/popper.min.js"></script>
    <script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="/admin/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>

    <!-- Third Party Scripts(used by this page)-->
    <script src="/admin/plugins/datatables/dataTables.min.js"></script>
    <script src="/admin/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!--Page Active Scripts(used by this page)-->
    <script src="/admin/plugins/datatables/data-basic.active.js"></script>
    </section>
     <script>
      $(document).ready(function() {
    $('#example').DataTable({

        responsive: true,
        'columnDefs': [{
            'orderable': false,
        }]

    });

} );
      </script>
    <script src="/admin/dist/js/sidebar.js"></script>
</body>

</html>